@import './../../styles/base/global';
body {
  background-color: $backgroundColor;
}
.layout {
  display: grid;
  margin: 0 $size_16;
  @include mq(medium) {
    margin: 0 $size_40;
  }
  @include mq(large) {
    margin: 0 $size_165;
  }
  &__container {
    margin-bottom: 100px;
  }
}
