@import './../../../../styles/base/global';

.image {
  &--header {
    width: $size_48;
  }
  &--presentation {
    display: block;
    margin: 0 auto;
    width: 300px;
    @include mq(medium) {
      width: 364px;
    }
  }
}

