@use "sass:map";
@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

.title-h1 {
  @include text-style($color: mapColor(primary-black), $size: textSize(heading, small),$lineHeight: textSize(lineHeightMobile, h1), $align: center, $weight: 700);
  @include mq(medium) {
    @include text-style( $size: textSize(heading, medium),$lineHeight: textSize(lineHeightTablet, h1), $align: center, $weight: 700);
  }
}
