@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

:host {
  .tpb {
    .title-h2 {
      margin-top: $size_40;
      margin-bottom: $size_24;
    }

    .paragraph {
      margin-bottom: $size_24;
    }

    .btn {
      display: block;
      margin: 0 auto;
    }

    @include mq(medium) {
      &-tablet {
        max-width: 339px;

        .title-h2,
        .paragraph,
        .btn {
          text-align: left;
        }

        .title-h2 {
          margin-top: 0;
        }

        .btn {
          margin: initial;
        }
      }
    }
    @include mq(large){
      max-width: 540px;
    }
  }

  .tpb-secondary {
    background-color: mapColor(primary-black);
    padding: $size_48 $size_24;
    border-radius: $size_10;

    .title-h2 {
      margin-top: 0;
    }

    .paragraph-secondary {
      margin-bottom: $size_24;
    }
    .btn {
      display: block;
      margin: auto;
    }
    @include mq(medium){
      margin: 0 $size_40;
      padding: $size_56 $size_75;
    }
    @include mq(large) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 165px;
      margin-right: 165px;
        .title-h2,
        .paragraph-secondary{
          text-align: left;
        }
      &-desktop {
        max-width: 540px;
      }
    }
  }
}
