<main class="layout">
  <app-header-footer></app-header-footer>
  <section class="introduction">
    <app-title-h1 text="Design solutions made easy"></app-title-h1>
    <div class="introduction__text">
      <app-text classToAdd="paragraph"
                text="With over ten years of experience in various design disciplines, I’m your one-stop shop for your design needs."></app-text>
    </div>
  </section>
  <app-card-grid></app-card-grid>
  <section class="presentation">
    <app-image classToAdd="image--presentation" srcToAdd="../../assets/images/image-amy.webp"></app-image>
    <app-title-paragraph-button titleToAdd="I’m Amy, and I’d love to work on your next project"
                                textToAdd="I love working with others to create beautiful design solutions. I’ve designed everything from brand illustrations to complete mobile apps. I’m also handy with a camera!"
                                textBtnToAdd="Free Consultation"></app-title-paragraph-button>
  </section>
</main>
