@import './../../../../styles/base/global';
.header {
  margin-top: $size_16;
  @include mq(medium) {
    margin-top: $size_34;
  }
}
.introduction {
  margin: $size_32 0;


  &__text {
    margin-top: $size_16;
    padding: 0 $size_29;
    @include mq(medium) {
      padding: 0 $size_58;
    }
  }
  @include mq(medium) {
    margin: $size_64 0;
  }
  @include mq(large) {
    margin-bottom: $size_80;
  }
}
.presentation {
  @include mq(medium) {
    margin-left: -5.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-right: $size_40;
  }
  @include mq(large){
    align-items: center;
    margin-left: 165px;
    margin-right: 165px;
    margin-bottom: 88px;
  }
}
.contact {
  margin-bottom: $size_40;
}
.footer {
  margin-bottom: $size_32;
}
