@import './../../../../styles/base/global';

.header-footer {
  display: table;
  width: 100%;
  app-button,
  app-image{
    display: table-cell;
    vertical-align: middle;
  }
  app-button {
    text-align: right;
  }
  @include mq(medium){
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin: 0 $size_40;
  }
  @include mq(large) {
    margin: 0 $size_165;
  }
}
