@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

.card-grid {
  display: grid;
  row-gap: $size_24;
  column-gap: $size_24;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 100px;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $size_24;
    border-radius: $size_8;
    box-sizing: border-box;
    &:nth-of-type(1) {
      grid-column: 1/3;
      background-color: mapColor(galactic-blue);
      height: 364px;
    }
    &:nth-of-type(2) {
      background-color: mapColor(summer-yellow);
      height: 182px;
    }
    &:nth-of-type(3) {
      background-color: mapColor(primary-pink);
      height: 182px;
    }
    &:nth-of-type(4) {
      grid-column: 1/3;
      background-color: mapColor(light-red);
      height: 158px;

    }
    &:nth-of-type(5) {
      grid-column: 1/3;
      background-color: mapColor(primary-cyan);
      height: 182px;
    }
    &:nth-of-type(6) {
      grid-column: 1/3;
      background-color: mapColor(dark-purple);
      height: 182px;
    }

    app-image {
      align-self: flex-end;
    }
  }
  @include mq(medium) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:  min-content auto;
    grid-auto-rows: initial;
    &__item {
      &:nth-of-type(1) {
        grid-area: 1 / 1 / 3 / 3;
      }
      &:nth-of-type(2) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-of-type(3) {
        grid-area: 1 / 4 / 2 / 5;
      }
      &:nth-of-type(4) {
        grid-area: 2 / 3 / 3 / 5;
      }
      &:nth-of-type(5) {
        grid-area: 3 / 1 / 4 / 3;
      }
      &:nth-of-type(6) {
        grid-area: 3 / 3 / 4 / 5;
      }

    }
  }
  @include mq(large) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
    "area1 area1 area2 area3 area4 area4"
    "area1 area1 area5 area5 area6 area6";
    &__item {
      &:nth-of-type(1) {
        grid-area: area1;
      }

      &:nth-of-type(3) {
        grid-area: area3;
      }
      &:nth-of-type(4) {
        grid-area: area5;
      }
      &:nth-of-type(5) {
        grid-area: area4;
      }
      &:nth-of-type(6) {
        grid-area: area6;
        max-height: 158px;
      }
    }
  }
}
