@use "sass:map";
@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

.title-h2 {
  @include text-style($color: mapColor(primary-black), $size: textSize(heading, mobile),$lineHeight: textSize(lineHeightMobile, h2), $align: center, $weight: 700);
}
