<div class="my-work-slider">
  <div id="slider" class="my-work-slider_wrapper"  [ngStyle]="carouselWrapperStyle">
    <ng-container *ngFor="let img of imgCollection, let i = index">
      <img class="my-work-slider_wrapper_image" id="slide" [alt]="img.alt" [src]="img.image">
    </ng-container>
  </div>
  <div class="my-work-slider_controls">
    <app-button id="prev" classToAdd="btn_slider btn_slider-prev">Prev</app-button>
    <app-button id="next" classToAdd="btn_slider btn_slider-next">Next</app-button>
  </div>
</div>
