@use "sass:map";
@import './../../../styles/base/mixins';
@import './../../../styles/base/global';


  .my-work-slider {
    width: 100vw;

    margin: $size_32 calc( $size_16 - $size_32);
    overflow: hidden;
    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      height: 180px;
      width: 100vw;
      &_item {
        height: 100%;
        max-width: 270px;
        margin: 0 8px;
        border-radius: 5px;
      }
    }
    &_controls {
      margin-top: $size_32;
      text-align: center;
    }
  }


