@use "sass:map";
@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

:host{
    .btn {
      padding: 0.5rem 1.7rem;
      border-radius: 1.8rem;
      border-color: transparent;

      &__headerFooter {
        @include btn(map.get($btnColor, btnHeaderFooterColor));
      }
    }
  }
