@import './../../../../styles/base/mixins';
@import './../../../../styles/base/global';

    .btn {
      @include btn($borderRadius: $size_29, $borderColor: transparent, $paddingVertical: $size_28, $paddingHorizontal: $size_6);
      @include text-style($size: btnStyle(size, mobile), $lineHeight: btnStyle(lineHeight, mobile), $weight: bold);
      &-primary {
        @include text-style($color: btnStyle(color, btnHeaderFooter));
        @include btn($bgColor: btnStyle(bgColor, primary));
      }
      &-secondary {
        @include text-style($color: btnStyle(color, btnHeaderFooter));
        @include btn($bgColor: btnStyle(bgColor, secondary));
      }
    }
